<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PolicyPhoneCommonMapper">
    <select id="findcolumnName" resultType="columnNameVo">
        SELECT COLUMN_NAME AS name ,COLUMN_COMMENT AS  columndesc  FROM information_schema.`COLUMNS` WHERE table_name='policy_phone_common' AND COLUMN_NAME  NOT IN ('common_name' , 'id');

    </select>
</mapper>
